*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.6rem;
    color: white;
}

body{
    background-color:black;
}

.header{
    text-align: center;
    padding-top: 40px;
}

h2{
    font-size:30px;
    font-weight: 800;
    padding-bottom: 20px;    
}

/* Status */

h3{
    padding: 30px;
    font-size: larger;
    font-weight: 400;
}
.Status{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    gap: 50px;
    
}

ul {
list-style-type: none;
}

.Status h4{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.review{
    padding-top: 40px;
    padding-left: 5px;
}

.footer{
    padding-top: 100px;
    font-size: small;
    color:gray;
    text-align: center;
}

